@tailwind base;
@tailwind components;
@tailwind utilities;

/* Toast Animations */
@keyframes slideIn {
  from {
    right: -100%;
  }
  to {
    right: 50px;
  }
}

@keyframes slideOut {
  from {
    right: 50px;
  }
  to {
    right: -100%;
  }
}

.slide-in {
  animation: slideIn 0.5s forwards;
}

.slide-out {
  animation: slideOut 0.5s forwards;
}
